/* Mobile & tablet */
@media screen and (max-width: 1200px){
    .app{
        overflow: hidden;
    }
    .hide-on-mobile-tablet{
        display: none !important;
    }
    .menu{
        text-transform: unset;
    }
    .h_nav-title-separate-help::after {
        display: none;
    }
    .h_nav-title-separate-kn::after {
        display: none;
    }
    .h_nav-list-1{
        width: 210px;
    }
    .h_nav-list-3{
        width: 233px;
    }
    
    .prd-item {
        width: 33%;
    }
    .bl-gt-i{
        display: none;
    }
    .bl-gt-i-1{
        display: block;
        margin-top: 5px;
        line-height: 2rem;
        margin-top: 15px;
    }
    .hide{
        display: none;
    }
    .bl-s1t, .xtc{
        margin-top: 8px;
    }
    .bl-s1{
        display: flex;

    }

}
@media (max-width: 1023px){
    .menu{
        text-transform: uppercase;
    }
    .h_nav-list-3{
        display: none;
    }
    .mnlist{
        overflow-x: auto;
    }
    .h_nav-allmang{
        display: none;
    }
    .h_nav-dms{
        display: none;
    }
    .prd-item {
        width: 49%;
    }
    .h_nav-list-1{
        width: 14%;
    }
    .h_nav-search{
        border: 1px solid #E4E4E4;
    }
    /* .h_nav-title-separate-kn::after{
        display: none;
    } */
    .hidets{
        display: none !important;
    }
    .bl-s1{
        justify-content: space-between;
    }
    .h_nav-title-icon{
        font-size: 27px;
    }
    .hide12{
        display: none;
    }
    .ic-mbl {
        display: flex !important;
    }
    .h_nav-list-1 {
        width: 6%;
    }
    .btnsi{
        background: #002257;
        color: #E4E4E4;
    }
    .icxt, .btnxt{
        color: white;
    }
    .menu-pc{
        margin-top: 49px;
    }
    .header{
        position: relative;
    }
    .abc{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 3;
    }
    .prd-h .prdn {
        color: #151515;
        font-size: 1.4rem;
        font-weight: 700;
    }
    .prd-item .prd-item-link {
        color: #FF0000;
        font-size: 1.4rem;
        font-weight: 400;
    }
    .dong{
        font-weight: 600;
    }
}
/* Tablet */
@media (min-width: 768px) and (max-width: 1023px){
    .hide-on-tablet{
        display: none;
    }
    .bl-tim-sim {
        display: none;
    }
    .h_nav-title-icon{
        height: 28px;
    }
    .ttdhig{
        padding-left: 10px;
    }
}
/* Mobile */
@media (max-width: 767px){
    .hide-on-mobile{
        display: none;
    }
    .bl-tim-sim {
        display: none;
    }
    .h_nav-list-1{
        width: 10%;
    }
    .fas{
        line-height: 19px !important;
    }

    .ic-mbl{
        display: flex;
    }
    .h_nav-list-1 {
        width: 12%;
    }
    .khosimcom::before{
        right: -4px;
    }
    .dtvtt{
        padding-bottom: 42px;
    }
    .vcb1{
        margin-bottom: 12px;
    }
}
@media (max-width: 425px)
{
    .h_nav-list-1 {
        width: 10%;
    }
    .bctt{
        padding: 5px 15px;
    position: absolute;
    bottom: 10px;
    left: 23px;
    }

    .h_nav-list-1 {
        width: 13%;
    }
    .f3nav{
        padding-bottom: 25px;
    }
    .sdmlist1{
        display: block;
        margin: 0;
    }
    .sdmW{
        margin-bottom: 0;
    }
    .sdmlist1 .sdmitem1:nth-child(3){
        text-align: center;
    padding: 10px 0;
    }
    .neW2-item .neWimg{
        height: 90px;
    }
    .fs16700{
        font-size: 16px;
        font-weight: 700;
    }
    .hidenew{
        display: none;
    }
    .neW-wrapper {
        width: 64%;
    }
    .neW2-item a {
        width: 35%;
    }
}
@media (max-width: 350px){
    .h_nav-title{
        text-align: center;
        position: relative;
        right: 8px;
    }
    .prd-item{
        width: 100%;
        
    }
    .bctt{
        padding: 5px 5px !important;
        position: absolute;
        bottom: 13px !important;;
        left: -4px !important;;
        box-shadow: none;
    }
    .dtvtt {
        padding-bottom: 36px !important;
    }
    .ss3bo{
        left: 140px  !important;
    }
}

@media (max-width: 376px){
    .bctt{
        padding: 5px 15px;
    position: absolute;
    bottom: 12px;
    left: 3px;
    box-shadow: none;
    }
}


